<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<!-- -->
<suite name = "Parallel Testing Suite">
   <test name = "Parallel Tests" thread-count="3" parallel = "methods">
      <classes>
         <class name = "testNGSample.ParallelTesting" /> 
         <class name = "testNGSample.GroupTesting" />
           <class name = "testNGSample.Dependency" />
         
      </classes>
   </test>
</suite>


